<!DOCTYPE html>
<html>
<head>
	<title>Search</title>
</head>
<body>
	<h1>Repeat</h1>
	<form action="/repeat" method="GET">
		<!-- <input placeholder='what u want'required name ="word"> -->
		<input type="number" value="5" min="5" max="30" name="interval">
		<button>Search</button>
		</form>
	<form action="/stop_repeat" method="GET">
			<button>Stop</button>
	</form>
	
	<h1>Search</h1>
	<form action="/report" method="GET">
		<input placeholder='what u want'required name ="word">
		<input type="number" value="1" min="1" name="start">
		<input type="number" value="1" min="1" name="pages">
		<button>Search</button>
	</form>
	
	<h1>Search From Index</h1>
	<form action="/report_single" method="GET">
		<input type="number" required name ="index">
		<button>Search</button>
	</form>
</body>
</html>